<div id="velaSearchTop" class="collapse">
	<div class="container text-center">
	    <a class="btnClose" href="#velaSearchTop" data-toggle="collapse"><i class="ion ion-android-close"></i></a>
		<h3 class="title">{{ 'general.search.submit' | t }}</h3>
	    <form id="velaSearchbox" class="formSearch" action="{{ routes.search_url }}" method="get">
	        <input type="hidden" name="type" value="product">
	        <input class="velaSearch form-control" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off" />
	        <button id="velaSearchButton" class="btnVelaSearch" type="submit" >
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="20px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1040 1024"><path d="M1031 969L720 656q93-111 93-256 0-109-53.5-201t-146-145.5T412.5 0 212 53.5 66.5 199 13 400t53.5 201T212 746.5 413 800q149 0 262-98l310 312q10 10 23 10t22.5-9.5 9.5-23-9-22.5zM413 737q-92 0-169.5-45.5T121 568.5 76 400t45-168.5 122.5-123 169-45.5 169 45.5 122.5 123T749 400q0 39-9 77t-25.5 71-39.5 62.5-52 52.5-62 39.5-71 25.5-77 9z" /></svg>
	            <span class="btnSearchText">{{ 'general.search.submit' | t }}</span>
	        </button>
	    </form>
	</div>
</div>