{%- assign owlColumn1 = section.settings.column1 | plus:0 -%}
{%- assign owlColumn2 = section.settings.column2 | plus:0 -%}
{%- assign owlColumn3 = section.settings.column3 | plus:0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus:0 -%}
{%- assign owlColumn5 = section.settings.column5 | plus:0 -%}
{%- assign limit = section.settings.subcat_limit | plus:0 -%}
{%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
    {%- capture bgColor -%}
        background-color: {{ section.settings.color_bg }};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.padding_block != blank -%}
    {%- capture paddingblock -%}
        padding: {{section.settings.padding_block}};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.margin_block != blank -%}
    {%- capture marginblock -%}
        margin: {{section.settings.margin_block}};
    {%- endcapture -%}
{%- endif -%}
<div class="velaSubCategories overflow-hidden {% unless section.settings.color_bg != 'rgba(0,0,0,0)' %}vela-section{% endunless%}" style="{{ bgColor}} {{ paddingblock }} {{ marginblock }}">
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        <div class="velaListSubCat">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle velaTitle text-center">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            <div class="velaContent">
                {%- if section.blocks.size > 0 -%}
                    <div class="proOwlCarousel owlCarouselPlay">
                        <div class="owl-carousel" 
                            data-nav="{{ section.settings.navigation }}" 
                            data-loop="false" 
                            data-autoplay="{{ section.settings.autoplay }}" 
                            data-margin="40" 
                            data-autoplaytimeout="{{ section.settings.autoplay_timeout }}" 
                            data-columnone="{{ owlColumn1 }}" 
                            data-columntwo="{{ owlColumn2 }}" 
                            data-columnthree="{{ owlColumn3 }}" 
                            data-columnfour="{{ owlColumn4 }}" 
                            data-columnfive="{{ owlColumn5 }}">
                            {% for block in section.blocks %}
                                {%- assign proCollection = block.settings.collection_handle -%}
                                <div class="item">
                                    <div class="velaSubCategoriesInner velaProBlock">
                                    	<div class="velaSubCategoriesImage clearfix">
                                            {%- if proCollection != blank -%}
                                                <a href="{{ collections[proCollection].url }}" title="{{ collections[proCollection].title }}">
                                            {% endif %}
                                                {%- if block.settings.image != blank -%}
                                                    {% include 'image-global' with image: block.settings.image  %}
                                                {%- else -%}
                                                        <img class="img-responsive img-full-mobile" alt="{{ shop.name }}" src="http://velatheme.com/demo_banner/netro/collection_{{ section.id }}_{{ forloop.index }}.jpg" />
                                                {%- endif -%}
                                            {%- if proCollection != blank -%}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="velaSubCategoriesBox">
        						            {%- if block.settings.title != blank  or proCollection != blank -%}
        						                <h4 class="velaTitle">
                                                    {%- if proCollection != blank -%}
                                                        <a href="{{ collections[proCollection].url }}" title="{{ collections[proCollection].title }}">
                                                    {% endif %}
                                                            {%- if block.settings.title != blank %}
                						                      {{ block.settings.title }}
                                                            {% else  %}
                                                                {{ collections[proCollection].title }}
                                                            {% endif %}
                                                    {%- if proCollection != blank -%}
                                                        </a>
                                                    {% endif %}
                                                </h4>
        						            {%- endif -%}
        	                                <ul class="list-unstyled">
        										{% for velaLink in linklists[block.settings.link_menu_handle].links %}
                                                        {%- if limit < forloop.index-%}

                                                            {% break %} 
                                                        {%- endif -%}
                                                        <li>
                                                            <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                                                        </li>
        										{% endfor %}
        									</ul>
        								</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela List subcategories",
        "class": "velaFramework",
        "settings": [
            {
                "type": "header",
                "content": "Design Section"
            },
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "Enabel Full Width?"
            },
            {
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px",
                "info": "if background color is blank, it will be remove on the mobile"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "Margin",
                "default": "0 0 30px",
                "placeholder": "0px 0px",
                "info": "ex: 0px 0px 0px"
            },
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "subcat_limit",
                "label": "Limit",
                "default": "6"
            },
            {
                "type": "header",
                "content": "Carousel Settings"
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Show navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Auto play",
                "default": false
            },
            {
                "type": "text",
                "id": "autoplay_timeout",
                "label": "Autoplay timeout",
                "placeholder": "Default: 10000(ms)",
                "info": "Autoplay interval timeout.",
                "default": "10000"
            },
            {
                "type": "range",
                "id": "column1",
                "min": 1,
                "max": 7,
                "step": 1,
                "label": "#Column 1",
                "default": 4,
                "info": "Large desktops"
            },
            {
                "type": "range",
                "id": "column2",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 2",
                "default": 3,
                "info": "Desktops & Tablets landscape"
            },
            {
                "type": "range",
                "id": "column3",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 3",
                "default": 2,
                "info": "Tablets"
            },
            {
                "type": "range",
                "id": "column4",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 4",
                "default": 2,
                "info": "Mobile phone landscape"
            },
            {
                "type": "range",
                "id": "column5",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 5",
                "default": 1,
                "info": "Mobile phone"
            },
            {
                "type": "select",
                "id": "row",
                "label": "Row",
                "default": "1",
                "options":[
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    }
                ]
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Collection",
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection_handle",
                        "label": "Collection"
                    },                    
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Box heading"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Box image"
                    },
                    {
		                "type": "link_list",
		                "id": "link_menu_handle",
		                "label": "Subcategories menu",
		                "info": "Choose menu for block. Add new menu: Admin -> Navigation"
		            }
                ]
            }
        ],
		"presets": [
            {
                "name": "List subcategories",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}